{% extends "app/layout.html" %}

{% block content %}
<h1> ATLAS CORP</h1>
<h3>Pioneira em fabricação de robos e armamentos tecnologicos voltado para fins militares.</h3><br>

<p>Empresa fundada em 1920, somos focados na criação de novas tecnologias para armamentos e proteções, sempre inovando
e entregando suas promessas, até porquê não é atoa que estamos a 98 anos atuando como lider do mercado.</p>

<p>Hojê uma multinacional pioneirano segmento, com 72 filiais distribuidas nos EUA, CANADA, BRASIL, COLOMBIA, RUSSIA, ALEMANHA, PARIS E CHINA.<br>
Sua matriz é localizada nos EUA, Um complexo com 54 equitares, composto de paredes fortes e sistemas de seguança de ultima geração.</p>

<p>Somos donos dos maiores laboratorios de desenvolvimento de tecnoligia militar do mundo.</p>

<p><h2>Nossa missão</h2></p>
Conquistar a paz e prover os materiais para este fim.

<p><h2>obs</p></h2>
Todo conteúdo dessa página é ficticio apenas para trabalho de faculdade.

<p>Esta aplicação gerencia vestibulares.</p>

{% endblock %}
